:root {
  --color-navbar-text: #fff;
  --max-width: 940px;
  --global-padding: 0 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: Arial, sans-serif;
}

h1,
h2 {
  font-size: 40px;
  line-height: 35px;
  font-weight: 700;
}

h1 {
  text-shadow: 1px 1px 8px rgba(68, 68, 68, 1);
}

p {
  line-height: 1.5;
}

p,
li,
strong {
  font-family: Ubuntu, Helvetica, sans-serif;
}

strong {
  font-weight: 700;
  letter-spacing: -0.5px;
  text-decoration: none;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.9;
}

button {
  border: none;
  padding: 10px 30px;
  color: #000;
  background-color: #fff;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1.2px;
  cursor: pointer;
}

button.secondary {
  background: #000;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: var(--global-padding);
  height: 60px;
  width: 100%;
  background: rgb(0, 0, 0);
  z-index: 99;
}

.navbar__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 940px;
}

.navbar__list {
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-width: var(--max-width);
}

.navbar__link {
  color: var(--color-navbar-text);
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

.navbar__logo {
  color: var(--color-navbar-text);
  font-family: Arial, sans-serif;
  font-size: 2rem;
}

/* HOME */

.home__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 92vh;
  overflow: hidden;
}

.home__content h1 {
  color: #fff;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: none;
  text-align: center;
  margin-bottom: 30px;
}

.home__content img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
    url("../images/header.JPG");
  background-size: cover;
  object-fit: cover;
  object-position: top;
  z-index: -1;
}

.home__promo {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  height: 8vh;
  width: 100%;
  list-style-type: none;
  color: #fff;
  padding: 0 20px;
}

.home__promo div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: var(--max-width);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.75px;
  text-decoration: none;
  text-transform: none;
}

#navigation {
  background: white;
  padding: var(--global-padding);
}

.navigation__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 80px 0 220px;
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
  justify-content: flex-start;
}

.navigation__container .left,
.right {
  width: 50%;
}

.navigation__container .left strong {
  display: block;
  padding-left: 5px;
  margin-bottom: 10px;
  border-left: 2px solid #000;
}

.navigation__container .right p strong {
  display: block;
  margin-bottom: 25px;
  font-size: 18px;
}

.navigation__container button {
  margin-top: 30px;
}

#about {
  position: relative;
  height: 80vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/DSC02782.JPG");

  background-size: cover;

  background-position: 0 30%;

  background-repeat: no-repeat;
  color: #fff;
  padding: var(--global-padding);
}

.about__container {
  display: flex;
  flex-direction: row;
  height: 100%;
  position: relative;
  z-index: 2;
  max-width: var(--max-width);
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.swiper {
  width: 100%;
  height: 300px;
}

.swiper-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.about__left {
  width: 50%;
}

.about__right {
  width: 50%;
}

.about__right h2,
.about__right p {
  text-shadow: 1px 1px 8px rgba(68, 68, 68, 0.4);
}

.about__right p {
  margin-top: 30px;
}

.contact__container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto;
  padding-top: 25px;
  max-width: 940px;
  align-items: center;
  height: 25vh;
}

.contact__container h3 {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  font-size: 16px;
}

.contact__container h3 img {
  margin-right: 10px;
}
.contact__social,
.contact__phone,
.contact__mail {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  text-align: left;
  background-color: white;
  width: auto;
  height: auto;
}

.contact__container img {
  width: 25px;
  height: 25px;
  margin-right: 0 px;
}

.contact__container button {
  color: white;
  margin-bottom: 5px;
  margin-top: 5px;
}

.contact__container p {
  margin-bottom: 5px;
}
@media (max-width: 992px) {
  .home__promo div li:nth-child(1) {
    display: none;
  }
}

.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  height: 10vh;
  width: 100%;
  list-style-type: none;
  color: white;
  padding: 0 20px;
}

.footer__container p {
  font-weight: 700;
  letter-spacing: 2px;
}
@media (max-width: 768px) {
  .navigation__container {
    flex-direction: column;
    padding-bottom: 160px;
  }

  .navigation__container .left,
  .navigation__container .right {
    width: 85%;
  }

  .navigation__container .right {
    margin-top: 50px;
  }
  .about__container {
    justify-content: center;
    align-items: center;
  }
  .about__right {
    width: 80%;
  }
  .about__right h2 {
    text-align: right;
  }
  .about__right p {
    text-align: justify;
  }

  .contact__container {
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }

  .contact__container button.secondary {
    color: white !important;
  }
  .contact__phone,
  .contact__mail,
  .contact__social {
    margin-bottom: 20px;
    width: 100%;
  }
  .contact__mail h3 {
    position: flex;
    width: 100%;
    justify-content: center;
  }
}
