:root {
  --color-navbar-text: #fff;
  --max-width: 940px;
  --global-padding: 0 20px;
  --navbar-height: 60px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

main {
  padding-top: var(--navbar-height);
}
h1,
h2,
h3 {
  font-family: Arial, sans-serif;
}

h1,
h2 {
  font-size: 40px;
  line-height: 35px;
  font-weight: 700;
}

h1 {
  text-shadow: 1px 1px 8px rgba(68, 68, 68, 1);
}

p {
  line-height: 1.5;
}

p,
li,
strong {
  font-family: Ubuntu, Helvetica, sans-serif;
}

strong {
  font-weight: 700;
  letter-spacing: -0.5px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  opacity: 0.9;
}

table {
  background-color: #16181c;
  opacity: 0.7;
  color: white;

  font-family: Ubuntu, Helvetica, sans-serif;
  border-style: none;
  border: 0px;
}

th,
td {
  padding: 1rem;
  font-size: 35px;
  text-align: center;
}

th {
  background: hsl(0 0% 0% / 0.5);
}
tr:nth-of-type(2n) {
  background: hsla(0, 0%, 0%, 0.361);
}

.personal_training,
.personal_training ul li {
  color: aliceblue;
  text-decoration: none;
  list-style: none;
  font-family: Ubuntu, Helvetica, sans-serif;
  line-height: 24px;
  max-width: 940px;
  text-shadow: 1px 1px 8px rgba(68, 68, 68, 0.9);
}

.personal_training ul li:nth-child(3) {
  margin-top: 15px;
}

.personal_training h3 {
  text-align: center;
  margin-bottom: 10px;
}

.personal_training {
  margin-top: 15px;
}
.personal_training ul li {
  margin-bottom: 10px;
}

.button-primary {
  border: none;
  padding: 10px 30px;
  color: #000;
  background-color: white;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1.2px;
  cursor: pointer;
}

.button-primary a {
  color: black;
}

.button-secondary {
  border: none;
  padding: 10px 30px;
  color: #fff;
  background-color: #000;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1.2px;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: var(--global-padding);
  height: 60px;
  width: 100%;
  background: rgb(0, 0, 0);
  z-index: 99;
}

.navbar__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 940px;
}

.navbar__list,
.menu__list {
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-width: var(--max-width);
  align-items: center;
}

.navbar__link {
  color: var(--color-navbar-text);
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

.navbar__logo {
  color: var(--color-navbar-text);
  font-family: Arial, sans-serif;
  font-size: 2rem;
}

.menu-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  display: none !important;
}

/* HOME */
.home__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 92vh;
  overflow: hidden;
}

.training-home__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 92vh;
  overflow: hidden;
}

.home__content h1 {
  color: #fff;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: none;
  text-align: center;
  margin-bottom: 30px;
}

.training-home__content h1 {
  color: #fff;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: none;
  text-align: center;
  margin-bottom: 30px;
}

.home__content .home__image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
    url("../images/header.JPG");
  background-size: cover;
  background-position: 0 17%;

  z-index: -1;
}

.training-home__content .training-home__image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("../images/Dunavolgyi.com-5402.jpg");
  background-size: cover;
  background-position: 0 17%;
  filter: brightness(30%);

  z-index: -1;
}

/* TRAINING PRICES */

.trainig-prices__container {
  background: hsl(0 0% 0% / 0.5);
  color: white;
  font-size: 1.6rem;
  width: 940px;
  text-align: center;
  padding: 20px 0;
}

.inline p {
  display: inline-block !important;
}

.training-session {
  text-align: left;
  width: 20%;
}

.training-price {
  text-align: right;
  width: 20%;
}

.traning-prices__group h1 {
  margin: 10px 0px 30px;
}

.traning-prices__group article p {
  margin-top: 10px;
  font-size: small;
}

/*********************/

.home__promo {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  height: 8vh;
  width: 100%;
  list-style-type: none;
  color: #fff;
  padding: 0 20px;
}

.home__promo div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: var(--max-width);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.75px;
  text-decoration: none;
  text-transform: none;
}

#navigation {
  background: white;
  padding: var(--global-padding);
}

.navigation__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 80px 0 160px;
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
  justify-content: flex-start;
}

.navigation__container .left,
.right {
  width: 50%;
}

.navigation__container .left strong {
  display: block;
  padding-left: 5px;
  margin-bottom: 10px;
  border-left: 2px solid #000;
}

.navigation__container .right p strong {
  display: block;
  margin-bottom: 25px;
  font-size: 18px;
}

.navigation__container button {
  margin-top: 30px;
}

#about {
  position: relative;
  min-height: 80vh;
  height: 80vh;

  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/DSC02782.JPG");

  background-size: cover;

  background-position: 0 30%;

  background-repeat: no-repeat;
  color: #fff;
  padding: var(--global-padding);
}

.about__container {
  display: flex;
  flex-direction: row;
  height: 100%;
  position: relative;
  z-index: 2;
  max-width: var(--max-width);
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.swiper {
  width: 100%;
  height: 300px;
}

.swiper-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.about__left {
  width: 50%;
}

.about__right {
  width: 50%;
  height: auto;
}

.about__right h2,
.about__right p {
  text-shadow: 1px 1px 8px rgba(68, 68, 68, 0.4);
}

.about__right p {
  margin-top: 30px;
}

.contact__container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto;
  padding-top: 25px;
  max-width: 940px;
  align-items: center;
  height: 25vh;
}

.contact__container h3 {
  display: flex;
  align-items: center;
  position: relative;
  padding-bottom: 10px;
  font-size: 16px;
}

.contact__container h3 img {
  margin-right: 10px;
}

.contact__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  text-align: center;
  background-color: white;
  width: auto;
  height: auto;
  margin: 20px;
}

.contact__container img {
  width: 25px;
  height: 25px;
  margin-right: 0 px;
}

.contact__container button {
  color: white;
  margin-bottom: 5px;
  margin-top: 5px;
}

.contact__container p {
  margin-bottom: 5px;
}
@media (max-width: 992px) {
  .home__promo div li:nth-child(1) {
    display: none;
  }
}

.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  height: 10vh;
  width: 100%;
  list-style-type: none;
  color: white;
  padding: 0 20px;
}

.footer__container p {
  font-weight: 700;
  letter-spacing: 2px;
}
@media (max-width: 768px) {
  #about {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
      url("./images/DSC02782.JPG");
  }
  .navbar.open .navbar__wrapper {
    position: relative;
    padding-bottom: 20px;
  }

  .navbar.open .menu-button {
    position: absolute;
    right: 0px;
    padding: 15px;
    top: 10px;
  }
  .navigation__container {
    flex-direction: column;
    padding-bottom: 160px;
  }

  .navigation__container .left,
  .navigation__container .right {
    width: 85%;
  }

  .navigation__container .right {
    margin-top: 50px;
  }
  .about__container {
    justify-content: center;
    align-items: center;
  }
  .about__right {
    width: 80%;
    height: 10%;
    font-size: small;
  }
  .about__right h2 {
    text-align: right;
  }
  .about__right p {
    text-align: justify;
  }

  .contact__container {
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 60px 0;
  }

  .contact__container button.secondary {
    color: white !important;
  }
  .contact__phone,
  .contact__mail,
  .contact__social {
    margin-bottom: 20px;
    width: 100%;
  }
  .contact__mail h3 {
    position: flex;
    width: 100%;
    justify-content: center;
  }

  .menu-button {
    display: inline-block !important;
  }

  .navbar__list {
    display: none;
  }
  .navbar.open {
    height: auto;
  }

  .navbar.open .navbar__wrapper {
    flex-direction: column;
  }

  .navbar.open .navbar__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .navbar.open .navbar__logo {
    margin: 22px 0 15px;
  }

  .personal_training {
    padding: 0 20px;
    text-align: justify;
  }
  .personal_training ul li {
    margin-bottom: 10px;
  }

  .training-session,
  .training-price {
    width: 14%;
  }

  .trainig-prices__container h1 {
    font-size: 2.3rem;
  }
}

@media (max-width: 450px) {
  #about {
    background-position: center center;
  }

  .about__right {
    width: 100%;
  }

  .home__content h1 {
    font-size: 35px;
  }

  .training-home__content {
    height: auto;
  }
}
/* smaller screen*/
@media (max-width: 375px) {
  #about {
    padding-bottom: 20vh;
  }

  .trainig-prices__container h1 {
    font-size: 2rem;
  }
}

.google-maps {
  display: none;
  max-width: var(--max-width);
  margin: 0 auto 60px;
  padding: var(--global-padding);
}

.google-maps iframe {
  width: 100%;
  height: auto;
  min-height: 400px;
}
